/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; /*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-weight: 600;
  line-height: 1.6;
  position: relative;
  display: inline-block;
  padding: 0.1rem 2.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}

a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn--gray,
a.btn--gray {
  color: #02010c;
  background-color: #c9caca;
  border-bottom: 5px solid #646766;
}
.btn--gray:hover,
a.btn--gray:hover {
  color: #02010c;
  background: #c4c3ba;
  border-bottom: 2px solid #646766;
}

.btn--red,
a.btn--red {
  color: #fff;
  background-color: #ec4451;
  border-bottom: 5px solid #b84c00;
}
.btn--red:hover,
a.btn--red:hover {
  color: #fff;
  background: #f85461;
  border-bottom: 2px solid #b84c00;
}

.btn--redh,
a.btn--redh {
  color: #fff;
  background-color: #ec4451;
}
.btn--redh:hover,
a.btn--redh:hover {
  color: #fff;
  background: #f85461;
}

a.btn--radius {
  border-radius: 100vh;
}
